* {
        margin: 0;
        padding: 0;
    }

    .top-content {
        height: 150px;
        width: 100%;
        background-color: #ea7474;
        box-sizing: border-box;
    }


    .left-content {
        float: left;
        height: 367px;
        width: 20%;
        box-sizing: border-box;
        background-color: #666;
    }

    .right-content {
        float: right;
        height: 367px;
        width: 80%;
        background-color: #909;
    }

    .bottom-content {
        height: 100px;
        width: 100%;
        background-color: black;
        position: absolute;
        bottom: 0px;


    }